button {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #3B82F6;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

button:hover {
    background-color: #60A5FA;
}